# 设置设备平台
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

# 设置测试内核，当前测试内核为6.12
CONFIG_TESTING_KERNEL=y

# rtl8152固件 usb 2.5G网口
CONFIG_PACKAGE_r8152-firmware=y

# 查看硬件信息
# CONFIG_PACKAGE_hwinfo=y
# CONFIG_PACKAGE_lscpu=y
# CONFIG_PACKAGE_pciutils=y
# CONFIG_PACKAGE_usbutils=y