# 设置设备平台
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

# 设置测试内核，当前测试内核为6.12
CONFIG_TESTING_KERNEL=y

# 开启无线支持
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11AX_SUPPORT=y
CONFIG_DRIVER_11BE_SUPPORT=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_PACKAGE_wpad-mesh-openssl=y
CONFIG_PACKAGE_iw-full=y
